@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-regular.ttf'),
        url('../fonts/lato-bold.ttf'),
        url('../fonts/lato-italic.ttf');
    
}

.v-application {
    font-family: "Lato" !important;
}